@import "tailwindcss";

/* Scrollbar minimalista estilo GPT */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}